div
  h2 blrps
  table(class="table table-condensed")
    thead
      th from
      th message
      th actions
    for blrp in blrps
      tr
        td= blrp.creator.name
        td= blrp.text
        td
          a(href="#") Blrp
