h4 New Blrp Request
form(action='/blurpRequest', method='post')
  div.form-group
    label(for='blurp-message') Message:
    input.form-control(id='blurp-message', type='text', name='message', placeholder='Blrp me when you get home')
  div.form-group
    label(for='blurp-to') From:
    select.form-control(id='blurp-to', name='to')
      each friend in user.friends
        option(value=friend._id)= friend.name
  div.form-group
    button(type='submit', class='btn btn-default') Request a Blrp
