script(type='text/javascript').
  function signinCallback(authResult) {
    console.dir(authResult);
    if (authResult['status']['signed_in']) {
      $.ajax({
        type: "POST",
        url: "/user/token",
        data: authResult
      })
       .done(function(msg) {
          if (authResult['status']['method'] != 'AUTO') {
            document.location = '/auth/google';
          }
        });
    }
  }
script(type='text/javascript').
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
