li
  div#signin
    span(id='signinButton')
      span(class='g-signin'
           data-callback='signinCallback'
           data-clientid='1042953377227-sod02oaepmklmlsat2jvbpvlcmb1vm8e.apps.googleusercontent.com'
           data-cookiepolicy='single_host_origin'
           data-scope='https://www.googleapis.com/auth/plus.login profile')
