ul(class='nav nav-pills pull-right')
  if (user)
    li
      img(src=user.photo class='profile')
    li
      a(href='/home') Home
    li
      a(href='/profile') Profile
    li
      a(href='/logout') Logout
  else
    include gsignin.jade
