extends layout

block content
  include includes/blrps.jade
  hr
  div(class='row-fluid marketing')
      div(class='span6')
        if (blrpSubscribe)
          h2 Subscribed to #{blrpSubscribe}
        include includes/blrprequest.jade
      div(class='span6')
        h4 blrp requests
        ul
          for req in blrpReqs
            li
              p
                |[
                a(href='/blrprequest/delete/' + req._id)  x
                |  ]
                | To: #{req.targetUser.name}, Message: #{req.text}
          else
            li
              p no existing blrp requests
